## Загрузим нужные библиотеки

In [1]:
import os
import re
import random

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split, KFold
from catboost import CatBoostRegressor, Pool


SEED = 0
VERSION = "catboost_cv5-3"
FOLDS   = 5

%matplotlib inline

## Зафиксируем генератор случайных чисел

In [2]:
def seed_everything(seed=1234):
    random.seed(seed)
    np.random.seed(seed)
    os.environ['PYTHONHASHSEED'] = str(seed)

seed_everything(SEED)

## Загрузим тренировочный датасет

In [3]:
df = pd.read_csv("train_dataset_train.csv").drop_duplicates()

In [4]:
df.head(3)

,id,Дата,Время,Место,Улица,Дом,Дорога,Километр,Метр,Вид ДТП,Погибло,Погибло детей,Ранено,Ранено детей
0,490103984,13.07.2018,17:35:00,"Новгородская область, Великий Новгород",Большая Санкт-Петербургская ул,88,NaN,NaN,NaN,Столкновение,0,0,0,0
1,490097169,11.05.2018,17:10:00,"Новгородская область, Великий Новгород",Большая Санкт-Петербургская ул,73,NaN,NaN,NaN,Столкновение,0,0,0,0
2,490031781,25.01.2020,14:44:00,"Новгородская область, Великий Новгород",Хутынская ул,29,NaN,NaN,NaN,NaN,0,0,0,0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19996 entries, 0 to 35769
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             19996 non-null  int64
 1   Дата           19996 non-null  object
 2   Время          19996 non-null  object
 3   Место          19996 non-null  object
 4   Улица          11297 non-null  object
 5   Дом            11391 non-null  object
 6   Дорога         5763 non-null   object
 7   Километр       5764 non-null   float64
 8   Метр           5764 non-null   float64
 9   Вид ДТП        14538 non-null  object
 10  Погибло        19996 non-null  int64
 11  Погибло детей  19996 non-null  int64
 12  Ранено         19996 non-null  int64
 13  Ранено детей   19996 non-null  int64
dtypes: float64(2), int64(5), object(7)
memory usage: 2.3+ MB

## Много пустых значений, обработаем данные

In [6]:
def addr_aplit(x):
    x = str(x).split(',')[1:]
    if len(x) == 1:
        if x[-1].strip().endswith('район'):
            return x[0].strip(), "", ""
        else:
            return "", x[0].strip(), ""
    elif len(x) == 2:
        return x[0].strip(), x[1].strip(), ""
    elif len(x) == 3:
        return x[0].strip(), x[1].strip(), x[2].strip()
    else:
        return "", "", ""

def house_apply(x):
    if isinstance(x, int):
        return x
    if not isinstance(x, str):
        return 0
    x = rep.sub(" ", x)
    x = x.strip().split(' ')[0]
    if x == "":
        return 0
    else:
        return int(x)

In [7]:
df['Вид ДТП'].fillna("-", inplace=True)
df['Метр'].fillna(500.0, inplace=True)

df["Год"]  = df["Дата"].str[6:]
df["День"] = df["Дата"].str[:2]
df["Месяц"]= df["Дата"].str[3:5]
df["Час"]  = df["Время"].str[:2]

df[['Район', 'Город', "Деревня"]] = np.vstack(df['Место'].map(addr_aplit))

## Разделим датасет на 2 части: улица + дом или дорога + километр + метр и обучим 2 модели catboost

In [8]:
columns_num = ["Год", "Месяц", "День", "Час"]
columns_cat1 = ['Район', 'Город', "Деревня", "Улица", "Вид ДТП"]
columns_cat2 = ['Район', 'Город', "Деревня", "Дорога", "Вид ДТП"]
columns_num1 = ["Дом"]
columns_num2 = ["Километр", "Метр"]
columns_y   = ["Погибло", "Погибло детей", "Ранено", "Ранено детей"]

df[columns_num] = df[columns_num].values.astype(int)
df[columns_y]   = df[columns_y].values.astype(int)

In [9]:
df1 = df[~df['Улица'].isna()]
df1 = df1[df1['Дом'] != 0].reset_index(drop=True)

rep = re.compile("[^\d]")
    
df1['Дом'] = df1['Дом'].map(house_apply)

df1[columns_num + columns_num1 + columns_cat1 + columns_y].head()

,Год,Месяц,День,Час,Дом,Район,Город,Деревня,Улица,Вид ДТП,Погибло,Погибло детей,Ранено,Ранено детей
0,2018,7,13,17,88,,Великий Новгород,,Большая Санкт-Петербургская ул,Столкновение,0,0,0,0
1,2018,5,11,17,73,,Великий Новгород,,Большая Санкт-Петербургская ул,Столкновение,0,0,0,0
2,2020,1,25,14,29,,Великий Новгород,,Хутынская ул,-,0,0,0,0
3,2020,5,11,11,4,Новгородский район,Савинский,д Зарелье,Вишнёвая ул,-,0,0,0,0
4,2019,10,11,18,88,,Великий Новгород,,Большая Санкт-Петербургская ул,Столкновение,0,0,0,0

In [10]:
print(len(df1))
df1[columns_y].sum(axis=0)

11297

Погибло           172
Погибло детей       6
Ранено           3274
Ранено детей      546
dtype: int64

In [11]:
df2 = df[~df['Дорога'].isna()]
df2 = df2[~df2['Километр'].isna()].reset_index(drop=True)
df2[columns_num + columns_cat2+columns_num2 + columns_y].head()

,Год,Месяц,День,Час,Район,Город,Деревня,Дорога,Вид ДТП,Километр,Метр,Погибло,Погибло детей,Ранено,Ранено детей
0,2019,1,9,1,Окуловский район,,,Нева Москва - Санкт-Петербург (основное направ...,Иной вид ДТП,430.0,5.0,0,0,0,0
1,2020,1,14,12,Новгородский район,,,Великий Новгород - Нехино,-,3.0,840.0,0,0,0,0
2,2019,3,1,12,Чудовский район,,,"""Россия"" Москва - Тверь - Великий Новгород - С...",Наезд на препятствие,573.0,700.0,0,0,0,0
3,2019,2,21,2,Маловишерский район,,,Нева Москва - Санкт-Петербург (основное направ...,Наезд на препятствие,474.0,800.0,0,0,0,0
4,2020,5,6,18,Новгородский район,,,Подъезд к городу Новгород от а/д М-10,-,39.0,200.0,0,0,0,0

In [12]:
print(len(df2))
df2[columns_y].sum(axis=0)

5758

Погибло           201
Погибло детей       5
Ранено           2029
Ранено детей      235
dtype: int64

## Разобьем выюорку на 5 фолдов и обучим 5 моделей для первой части данных

In [13]:
seed_everything(SEED)
cv = KFold(n_splits=FOLDS, random_state=SEED, shuffle=True)

val_preds = np.zeros((len(df1), 4))
train_preds = np.zeros((len(df1), 4))

models1 = []

tree_params = {
    'max_depth': 9,
    'eval_metric': 'MultiRMSE',
    'loss_function': 'MultiRMSE',
    'random_state': SEED,
    'iterations': 15_000,
    'l2_leaf_reg': 3,
    'learning_rate': 0.0008,
    'use_best_model': True,
    'task_type': 'CPU',
    'verbose': 1000,
    'cat_features': columns_cat1,
}

for fold_, (train_idx, val_idx) in enumerate(cv.split(df1), 1):
    print(f'Training with fold {fold_} started.')
    model = CatBoostRegressor(**tree_params)    

    train, val = df1[columns_num + columns_num1 + columns_cat1].iloc[train_idx], df1[columns_num + columns_num1 + columns_cat1].iloc[val_idx]

    train_pool = Pool(train, df1[columns_y].iloc[train_idx], cat_features=columns_cat1)
    val_pool = Pool(val, df1[columns_y].iloc[val_idx], cat_features=columns_cat1)

    model.fit(train_pool, eval_set=[val_pool], early_stopping_rounds=500, verbose_eval=1000, use_best_model=True, plot=False)

    val_preds[val_idx] = model.predict(val_pool)
    train_preds[train_idx] += model.predict(train_pool) / (cv.n_splits-1)
    models1.append(model)
    print(f'Training with fold {fold_} completed.')

Training with fold 1 started.
0:	learn: 0.7064006	test: 0.7592942	best: 0.7592942 (0)	total: 136ms	remaining: 34m 3s
1000:	learn: 0.6979544	test: 0.7546860	best: 0.7546860 (1000)	total: 1m 20s	remaining: 18m 45s
2000:	learn: 0.6930273	test: 0.7531369	best: 0.7531369 (2000)	total: 2m 46s	remaining: 18m 4s
3000:	learn: 0.6890674	test: 0.7522479	best: 0.7522479 (3000)	total: 4m 20s	remaining: 17m 22s
4000:	learn: 0.6856220	test: 0.7516420	best: 0.7516411 (3995)	total: 6m 1s	remaining: 16m 34s
5000:	learn: 0.6823272	test: 0.7511567	best: 0.7511555 (4998)	total: 7m 46s	remaining: 15m 32s
6000:	learn: 0.6792553	test: 0.7508142	best: 0.7508142 (6000)	total: 9m 29s	remaining: 14m 13s
7000:	learn: 0.6763296	test: 0.7505373	best: 0.7505371 (6999)	total: 11m 15s	remaining: 12m 51s
8000:	learn: 0.6734367	test: 0.7503476	best: 0.7503454 (7907)	total: 13m	remaining: 11m 22s
9000:	learn: 0.6705175	test: 0.7502208	best: 0.7502153 (8955)	total: 14m 50s	remaining: 9m 53s
10000:	learn: 0.6673814	test: 0.7501601	best: 0.7501517 (9732)	total: 16m 44s	remaining: 8m 22s
11000:	learn: 0.6640150	test: 0.7499167	best: 0.7499135 (10997)	total: 18m 42s	remaining: 6m 48s
12000:	learn: 0.6602482	test: 0.7498154	best: 0.7498130 (11987)	total: 20m 46s	remaining: 5m 11s
13000:	learn: 0.6561227	test: 0.7498804	best: 0.7498100 (12541)	total: 22m 56s	remaining: 3m 31s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.749810035
bestIteration = 12541

Shrink model to first 12542 iterations.
Training with fold 1 completed.
Training with fold 2 started.
0:	learn: 0.7178013	test: 0.7151234	best: 0.7151234 (0)	total: 71.5ms	remaining: 17m 51s
1000:	learn: 0.7096337	test: 0.7106880	best: 0.7106880 (1000)	total: 1m 38s	remaining: 22m 57s
2000:	learn: 0.7035828	test: 0.7087939	best: 0.7087939 (2000)	total: 3m 32s	remaining: 22m 58s
3000:	learn: 0.6988579	test: 0.7077233	best: 0.7077233 (3000)	total: 5m 27s	remaining: 21m 50s
4000:	learn: 0.6947052	test: 0.7067140	best: 0.7067140 (4000)	total: 7m 19s	remaining: 20m 8s
5000:	learn: 0.6909240	test: 0.7060849	best: 0.7060831 (4998)	total: 9m 11s	remaining: 18m 22s
6000:	learn: 0.6874830	test: 0.7056075	best: 0.7056075 (6000)	total: 11m 3s	remaining: 16m 34s
7000:	learn: 0.6840733	test: 0.7052372	best: 0.7052360 (6999)	total: 12m 56s	remaining: 14m 46s
8000:	learn: 0.6808900	test: 0.7049808	best: 0.7049807 (7995)	total: 14m 47s	remaining: 12m 56s
9000:	learn: 0.6778311	test: 0.7047250	best: 0.7047250 (9000)	total: 16m 40s	remaining: 11m 7s
10000:	learn: 0.6744439	test: 0.7045576	best: 0.7045547 (9957)	total: 18m 38s	remaining: 9m 19s
11000:	learn: 0.6708380	test: 0.7043981	best: 0.7043981 (11000)	total: 20m 40s	remaining: 7m 31s
12000:	learn: 0.6667206	test: 0.7042862	best: 0.7042832 (11991)	total: 22m 48s	remaining: 5m 42s
13000:	learn: 0.6625606	test: 0.7042451	best: 0.7042306 (12958)	total: 25m 3s	remaining: 3m 51s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.7042306354
bestIteration = 12958

Shrink model to first 12959 iterations.
Training with fold 2 completed.
Training with fold 3 started.
0:	learn: 0.7201151	test: 0.7057867	best: 0.7057867 (0)	total: 155ms	remaining: 38m 45s
1000:	learn: 0.7127204	test: 0.7009295	best: 0.7009295 (1000)	total: 1m 39s	remaining: 23m 13s
2000:	learn: 0.7071215	test: 0.6988095	best: 0.6988095 (2000)	total: 3m 31s	remaining: 22m 51s
3000:	learn: 0.7024405	test: 0.6972263	best: 0.6972263 (3000)	total: 5m 22s	remaining: 21m 28s
4000:	learn: 0.6983459	test: 0.6962082	best: 0.6962082 (4000)	total: 7m 13s	remaining: 19m 52s
5000:	learn: 0.6946531	test: 0.6955443	best: 0.6955443 (5000)	total: 9m 3s	remaining: 18m 6s
6000:	learn: 0.6913400	test: 0.6950707	best: 0.6950707 (6000)	total: 10m 51s	remaining: 16m 16s
7000:	learn: 0.6880994	test: 0.6947754	best: 0.6947754 (7000)	total: 12m 41s	remaining: 14m 29s
8000:	learn: 0.6849298	test: 0.6945379	best: 0.6945378 (7997)	total: 14m 29s	remaining: 12m 40s
9000:	learn: 0.6817494	test: 0.6943826	best: 0.6943826 (9000)	total: 16m 15s	remaining: 10m 49s
10000:	learn: 0.6781999	test: 0.6943235	best: 0.6943136 (9971)	total: 18m 7s	remaining: 9m 3s
11000:	learn: 0.6744907	test: 0.6942019	best: 0.6942002 (10997)	total: 20m 2s	remaining: 7m 17s
12000:	learn: 0.6704821	test: 0.6941389	best: 0.6941310 (11738)	total: 22m 3s	remaining: 5m 30s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.6941309688
bestIteration = 11738

Shrink model to first 11739 iterations.
Training with fold 3 completed.
Training with fold 4 started.
0:	learn: 0.7176769	test: 0.7156617	best: 0.7156617 (0)	total: 91.6ms	remaining: 22m 54s
1000:	learn: 0.7088629	test: 0.7096685	best: 0.7096685 (1000)	total: 1m 37s	remaining: 22m 40s
2000:	learn: 0.7025064	test: 0.7065309	best: 0.7065309 (2000)	total: 3m 24s	remaining: 22m 8s
3000:	learn: 0.6976427	test: 0.7049801	best: 0.7049800 (2998)	total: 5m 13s	remaining: 20m 53s
4000:	learn: 0.6933442	test: 0.7039235	best: 0.7039235 (4000)	total: 7m 2s	remaining: 19m 22s
5000:	learn: 0.6895684	test: 0.7031195	best: 0.7031195 (5000)	total: 8m 51s	remaining: 17m 41s
6000:	learn: 0.6859711	test: 0.7025036	best: 0.7025036 (6000)	total: 10m 40s	remaining: 15m 59s
7000:	learn: 0.6824840	test: 0.7019342	best: 0.7019342 (7000)	total: 12m 25s	remaining: 14m 11s
8000:	learn: 0.6791690	test: 0.7014366	best: 0.7014366 (7999)	total: 14m 10s	remaining: 12m 23s
9000:	learn: 0.6758533	test: 0.7010116	best: 0.7010116 (9000)	total: 15m 57s	remaining: 10m 38s
10000:	learn: 0.6722899	test: 0.7006899	best: 0.7006899 (10000)	total: 17m 47s	remaining: 8m 53s
11000:	learn: 0.6685524	test: 0.7003946	best: 0.7003919 (10998)	total: 19m 43s	remaining: 7m 10s
12000:	learn: 0.6642296	test: 0.7002290	best: 0.7002284 (11997)	total: 21m 46s	remaining: 5m 26s
13000:	learn: 0.6594861	test: 0.7001449	best: 0.7001417 (12975)	total: 23m 51s	remaining: 3m 40s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.7001300274
bestIteration = 13325

Shrink model to first 13326 iterations.
Training with fold 4 completed.
Training with fold 5 started.
0:	learn: 0.7241701	test: 0.6889505	best: 0.6889505 (0)	total: 138ms	remaining: 34m 29s
1000:	learn: 0.7160710	test: 0.6840847	best: 0.6840847 (1000)	total: 1m 37s	remaining: 22m 39s
2000:	learn: 0.7100650	test: 0.6820759	best: 0.6820759 (2000)	total: 3m 23s	remaining: 22m
3000:	learn: 0.7053961	test: 0.6811404	best: 0.6811394 (2998)	total: 5m 10s	remaining: 20m 40s
4000:	learn: 0.7011675	test: 0.6803500	best: 0.6803500 (4000)	total: 6m 55s	remaining: 19m 3s
5000:	learn: 0.6973898	test: 0.6797977	best: 0.6797968 (4998)	total: 8m 39s	remaining: 17m 18s
6000:	learn: 0.6938890	test: 0.6794237	best: 0.6794233 (5999)	total: 10m 22s	remaining: 15m 33s
7000:	learn: 0.6906215	test: 0.6791562	best: 0.6791562 (7000)	total: 12m 4s	remaining: 13m 47s
8000:	learn: 0.6874989	test: 0.6789568	best: 0.6789541 (7992)	total: 13m 47s	remaining: 12m 3s
9000:	learn: 0.6842937	test: 0.6787979	best: 0.6787979 (9000)	total: 15m 30s	remaining: 10m 19s
10000:	learn: 0.6808068	test: 0.6787110	best: 0.6787014 (9682)	total: 17m 17s	remaining: 8m 38s
11000:	learn: 0.6772338	test: 0.6786492	best: 0.6786453 (10994)	total: 19m 7s	remaining: 6m 56s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.6786210997
bestIteration = 11345

Shrink model to first 11346 iterations.
Training with fold 5 completed.

## Разобьем выборку на 5 фолдов и обучим 5 моделей для второй части данных

In [14]:
seed_everything(SEED)
cv = KFold(n_splits=FOLDS, random_state=SEED, shuffle=True)

val_preds = np.zeros((len(df2), 4))
train_preds = np.zeros((len(df2), 4))

models2 = []

tree_params = {
    'max_depth': 9,
    'eval_metric': 'MultiRMSE',
    'loss_function': 'MultiRMSE',
    'random_state': SEED,
    'iterations': 15_000,
    'l2_leaf_reg': 3,
    'learning_rate': 0.0012,
    'use_best_model': True,
    'task_type': 'CPU',
    'verbose': 1000,
    'cat_features': columns_cat2,
}

for fold_, (train_idx, val_idx) in enumerate(cv.split(df2), 1):
    print(f'Training with fold {fold_} started.')
    model = CatBoostRegressor(**tree_params)    

    train, val = df2[columns_num + columns_cat2 + columns_num2].iloc[train_idx], df2[columns_num + columns_cat2 + columns_num2].iloc[val_idx]

    train_pool = Pool(train, df2[columns_y].iloc[train_idx], cat_features=columns_cat2)
    val_pool = Pool(val, df2[columns_y].iloc[val_idx], cat_features=columns_cat2)

    model.fit(train_pool, eval_set=[val_pool], early_stopping_rounds=500, verbose_eval=1000, use_best_model=True, plot=False)

    val_preds[val_idx] = model.predict(val_pool)
    train_preds[train_idx] += model.predict(train_pool) / (cv.n_splits-1)
    models2.append(model)
    print(f'Training with fold {fold_} completed.')

Training with fold 1 started.
0:	learn: 0.8067098	test: 0.7620466	best: 0.7620466 (0)	total: 74.6ms	remaining: 18m 39s
1000:	learn: 0.7861691	test: 0.7586015	best: 0.7586008 (996)	total: 1m 13s	remaining: 17m 8s
2000:	learn: 0.7714062	test: 0.7575630	best: 0.7575563 (1985)	total: 2m 26s	remaining: 15m 54s
3000:	learn: 0.7582703	test: 0.7572044	best: 0.7572044 (3000)	total: 3m 40s	remaining: 14m 40s
4000:	learn: 0.7467283	test: 0.7570738	best: 0.7570716 (3937)	total: 4m 54s	remaining: 13m 30s
5000:	learn: 0.7356813	test: 0.7570819	best: 0.7570350 (4584)	total: 6m 10s	remaining: 12m 20s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.7570350019
bestIteration = 4584

Shrink model to first 4585 iterations.
Training with fold 1 completed.
Training with fold 2 started.
0:	learn: 0.7976852	test: 0.7989988	best: 0.7989988 (0)	total: 88.3ms	remaining: 22m 4s
1000:	learn: 0.7827243	test: 0.7956718	best: 0.7956716 (999)	total: 1m 15s	remaining: 17m 29s
2000:	learn: 0.7711273	test: 0.7941172	best: 0.7941172 (2000)	total: 2m 36s	remaining: 16m 58s
3000:	learn: 0.7613128	test: 0.7933100	best: 0.7933100 (3000)	total: 4m 6s	remaining: 16m 25s
4000:	learn: 0.7520883	test: 0.7929937	best: 0.7929722 (3957)	total: 5m 39s	remaining: 15m 32s
5000:	learn: 0.7438661	test: 0.7928193	best: 0.7928181 (4999)	total: 7m 4s	remaining: 14m 9s
6000:	learn: 0.7349897	test: 0.7927884	best: 0.7927083 (5565)	total: 8m 30s	remaining: 12m 45s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.7927083375
bestIteration = 5565

Shrink model to first 5566 iterations.
Training with fold 2 completed.
Training with fold 3 started.
0:	learn: 0.7867100	test: 0.8414323	best: 0.8414323 (0)	total: 186ms	remaining: 46m 23s
1000:	learn: 0.7702138	test: 0.8385868	best: 0.8385868 (1000)	total: 1m 49s	remaining: 25m 27s
2000:	learn: 0.7580053	test: 0.8374507	best: 0.8374507 (2000)	total: 3m 29s	remaining: 22m 41s
3000:	learn: 0.7479298	test: 0.8369548	best: 0.8369506 (2996)	total: 5m 6s	remaining: 20m 23s
4000:	learn: 0.7379504	test: 0.8366492	best: 0.8366301 (3957)	total: 6m 45s	remaining: 18m 35s
5000:	learn: 0.7289371	test: 0.8364101	best: 0.8364027 (4957)	total: 8m 28s	remaining: 16m 55s
6000:	learn: 0.7196332	test: 0.8362904	best: 0.8362794 (5970)	total: 10m 3s	remaining: 15m 4s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.836279357
bestIteration = 5970

Shrink model to first 5971 iterations.
Training with fold 3 completed.
Training with fold 4 started.
0:	learn: 0.7973127	test: 0.8006384	best: 0.8006384 (0)	total: 99.3ms	remaining: 24m 49s
1000:	learn: 0.7812920	test: 0.7953539	best: 0.7953539 (1000)	total: 1m 31s	remaining: 21m 16s
2000:	learn: 0.7690723	test: 0.7929101	best: 0.7929101 (2000)	total: 2m 55s	remaining: 19m 2s
3000:	learn: 0.7581966	test: 0.7915826	best: 0.7915826 (3000)	total: 4m 21s	remaining: 17m 24s
4000:	learn: 0.7478760	test: 0.7906921	best: 0.7906921 (4000)	total: 5m 52s	remaining: 16m 8s
5000:	learn: 0.7375551	test: 0.7900777	best: 0.7900768 (4999)	total: 7m 22s	remaining: 14m 45s
6000:	learn: 0.7270009	test: 0.7898953	best: 0.7898677 (5858)	total: 8m 55s	remaining: 13m 23s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.7898676608
bestIteration = 5858

Shrink model to first 5859 iterations.
Training with fold 4 completed.
Training with fold 5 started.
0:	learn: 0.8010957	test: 0.7851781	best: 0.7851781 (0)	total: 84ms	remaining: 20m 59s
1000:	learn: 0.7846382	test: 0.7805388	best: 0.7805388 (1000)	total: 1m 32s	remaining: 21m 34s
2000:	learn: 0.7725538	test: 0.7784954	best: 0.7784946 (1998)	total: 3m 4s	remaining: 19m 57s
3000:	learn: 0.7622963	test: 0.7775474	best: 0.7775461 (2994)	total: 4m 32s	remaining: 18m 11s
4000:	learn: 0.7531784	test: 0.7769201	best: 0.7769201 (4000)	total: 6m 1s	remaining: 16m 35s
5000:	learn: 0.7443109	test: 0.7765468	best: 0.7765305 (4928)	total: 7m 35s	remaining: 15m 10s
6000:	learn: 0.7348164	test: 0.7763244	best: 0.7763244 (6000)	total: 9m 10s	remaining: 13m 46s
Stopped by overfitting detector  (500 iterations wait)

bestTest = 0.776273269
bestIteration = 6160

Shrink model to first 6161 iterations.
Training with fold 5 completed.

## Загрузим тестовые данные и проведем над ними такие-же преобразования

In [15]:
df_test = pd.read_csv('test_dataset_test.csv')
df_samp = pd.read_csv('sample_solution.csv')

df_test['Вид ДТП'].fillna("-", inplace=True)
df_test['Километр']  = df_test['Километр'].fillna(0.0).values.astype(float)
df_test['Метр']      = df_test['Метр'].fillna(500.0).values.astype(float)
df_test['Дистанция'] = df_test['Километр'] * 1000 + df_test['Метр']

df_test["Год"]  = df_test["Дата"].str[6:]
df_test["День"] = df_test["Дата"].str[:2]
df_test["Месяц"]= df_test["Дата"].str[3:5]
df_test["Час"]  = df_test["Время"].str[:2]

df_test[['Район', 'Город', "Деревня"]] = np.vstack(df_test['Место'].map(addr_aplit))

df_test[columns_num] = df_test[columns_num].values.astype(int)
df_test[columns_num2] = df_test[columns_num2].values.astype(float)

df_test1 = df_test[~df_test['Улица'].isna()]
df_test1 = df_test1[~df_test1['Дом'].isna()]

df_test1['Дом'] = df_test1['Дом'].map(house_apply)

df_test2 = df_test[~df_test['Дорога'].isna()]
df_test2 = df_test2[~df_test2['Километр'].isna()]

In [16]:
df_test1[columns_num + columns_num1 + columns_cat1]

,Год,Месяц,День,Час,Дом,Район,Город,Деревня,Улица,Вид ДТП
0,2018,1,31,19,59,,Великий Новгород,,Нехинская ул,Столкновение
1,2019,6,19,10,38,,Великий Новгород,,Большая Московская ул,Столкновение
3,2019,2,1,13,3,,Великий Новгород,,Колмовская наб,Наезд на препятствие
6,2018,2,20,13,80,,Великий Новгород,,Черняховского ул,Столкновение
7,2020,8,21,15,25,Боровичский район,Боровичи,,Парковая ул,-
...,...,...,...,...,...,...,...,...,...,...
6781,2019,7,29,13,28,,Великий Новгород,,Большая Санкт-Петербургская ул,Столкновение
6782,2018,11,13,17,69,,Великий Новгород,,Псковская ул,Наезд на пешехода
6783,2020,7,11,23,1,Боровичский район,Боровичи,,Коммунарная ул,-
6786,2018,11,11,16,53,Окуловский район,Окуловка,,Николая Николаева ул,Столкновение
6787,2018,9,28,12,23,,Великий Новгород,,Кочетова ул,Столкновение

## Делаем прогнозы для первой и второй части датасета и потом склеиваем в единый датафрейм

In [17]:
df_test1[columns_y] = np.zeros((len(df_test1), 4), dtype=float)
df_test2[columns_y] = np.zeros((len(df_test2), 4), dtype=float)

In [18]:
for model in models1:
    df_test1[columns_y] += (model.predict(df_test1[columns_num + columns_num1 + columns_cat1]) + 0.5) / len(models1)

df_test1[columns_y] = df_test1[columns_y].values.astype(int)
df_test1[columns_y].sum()

Погибло            0
Погибло детей      0
Ранено           203
Ранено детей       0
dtype: int64

In [19]:
for model in models2:
    df_test2[columns_y] += (model.predict(df_test2[columns_num + columns_cat2 + columns_num2]) + 0.5) / len(models2)

df_test2[columns_y] = df_test2[columns_y].values.astype(int)
df_test2[columns_y].sum()

Погибло           0
Погибло детей     0
Ранено           92
Ранено детей      0
dtype: int64

In [20]:
df_samp = pd.merge(df_samp[['id']], df_test1.append(df_test2)[['id'] + columns_y], how='left', left_on='id', right_on='id').fillna(0.0)
df_samp[columns_y] = df_samp[columns_y].astype(int)
df_samp.to_csv(f'{VERSION}_{SEED}.csv', index=False)

df_samp.head()

/tmp/ipykernel_1097/3211576138.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_samp = pd.merge(df_samp[['id']], df_test1.append(df_test2)[['id'] + columns_y], how='left', left_on='id', right_on='id').fillna(0.0)

          id  Погибло  Погибло детей  Ранено  Ранено детей
0  490078911        0              0       0             0
1  490055448        0              0       0             0
2  490054440        0              0       0             0
3  490037847        0              0       0             0
4  490037049        0              0       0             0